<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 MB Vienas bitas. All rights reserved.
 * @website    www.magetrend.com
 * @package    MT Email for M2
 * @author     Edvinas Stulpinas <edwin@magetrend.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mtemail>
            <general>
                <direction>ltr</direction>
            </general>
            <mteditor>
                <font>
                    <![CDATA[Arial,sans-serif
Tahoma,sans-serif
"Helvetica Neue",Helvetica,Arial,sans-serif
                    ]]>
                </font>
            </mteditor>
        </mtemail>
    </default>
</config>
