<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="mobi_delivery_location" frontName="mobi_delivery_location">
            <module name="Mobicommerce_DeliveryLocation"/>
        </route>
    </router>
</config>
