<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="mobiservices3" frontName="mobiservices3">
            <module name="Mobicommerce_Mobiservices3"/>
        </route>
    </router>
</config>
